@page
@model gis_portfolio.Pages.Posts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Post.Title)</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Post.display_name)</h4>
    <h5>@Html.DisplayFor(model => model.Post.date)</h5>
    <div> <p class="main">@Html.DisplayFor(model => model.Post.long_desc) </p> </div>

</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Post.ID">Edit</a> |
    <a asp-page="/Index">Back to List</a>
</div>

<style>
    .main{
        white-space:pre-wrap
    }
</style>