@page
@model gis_portfolio.Pages.Posts.IndexModel

@{
    ViewData["Title"] = "Projects";
}

<h1>
    Projects
</h1>

@Html.DropDownList("Sort by",
                    new SelectList(Enum.GetValues(typeof(Sort))),
                    "Sort By",
                    new { @class = "form-control", style = "width: 190px;" })



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].short_desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].display_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].long_desc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Post)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.short_desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.display_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.long_desc)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> 
            </td>
            @* TODO need to make sure we take the users 'User.Identity.Name' and assign that to the database entry author *@
            @if (User.Identity.Name == item.author)
            {
                <td>
                    |<a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            }

        </tr>
        }
    </tbody>
</table>